@import '../../scss/variables.scss';

.info-container {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: $lightColor;
}
