.main {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 37rem;
    min-width: 50rem;

    display: flex;
    flex-direction: row;

    .menu-container {
        height: 100%;
        width: 20%;
    }

    .content-container {
        position: relative;
        height: 100%;
        width: 80%;
        padding: 2rem;

        &:first-child {
            margin-bottom: 2rem;
        }
    }
}
